<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251042767140-hmcrd8m6520fqabp0f470oovrlno7f1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251042767140-hmcrd8m6520fqabp0f470oovrlno7f1k</string>
	<key>API_KEY</key>
	<string>AIzaSyAcJ8N5Vh_5ozLjJ1d16XIhvvJpPXZPqEs</string>
	<key>GCM_SENDER_ID</key>
	<string>251042767140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthproject</string>
	<key>PROJECT_ID</key>
	<string>healthantri</string>
	<key>STORAGE_BUCKET</key>
	<string>healthantri.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251042767140:ios:cb5c7d55707d6e6432d3b1</string>
</dict>
</plist>